PUBLIC_API_URL=https://api.mythicalstudios.online
GITHUB_OWNER=Vexedhere
GITHUB_REPO=EmberForge
GITHUB_BRANCH=Master
GITHUB_TOKEN=REPLACE_WITH_GITHUB_FINE_GRAINED_TOKEN
ADMIN_CHETHAN_PASSWORD=REPLACE_ME
ADMIN_VIJAY_PASSWORD=REPLACE_ME
PORT=3000
DISCORD_GUILD_ID=REPLACE_ME
DISCORD_BOT_TOKEN=REPLACE_ME
STORE_URL=https://store.mythicalstudios.online/
